.inputForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input{
    border-radius: 5px;
    background-color:rgb(122, 233, 99); 
    display: flex;
    align-items: center;
justify-content: center;
width: 40%
}

.formGroup {
    width: 80%
}