.container {
    width: 40%;
    margin-top: 2%;
    margin-bottom:5%;
    padding-top: 15px;
    padding-bottom: 15px;

}
input {
   text-align: center;
}
.pokemonDetailForm {
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    background-color:rgb(122, 233, 99); 
}

body {
   background-color: rgb(227, 238, 78);
   font-weight: 100;
   color:rgb(231, 42, 42);
   
}

.btn {
    margin-top: 5px;
}